---
name: Auto-commit updates
on:
    create:
        branches:
            - ${{ secrets.UPDATE_BRANCH }}

jobs:
    update:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '14.x'
            - name: Install dependencies
              run: npm install
            - name: Update entries
              id: updateData
              run: node update.js
            - name: Verify update
              run: npm test
            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: "Update commit."
                  branch: ${{ secrets.UPDATE_BRANCH }}
                  commit_user_name: "Platform.sh template updater"
            - name: Create Pull Request
              id: cpr
              uses: peter-evans/create-pull-request@v3
              with:
                  token: ${{ secrets.GHTOKEN }}
                  branch: ${{ secrets.UPDATE_BRANCH }}
                  delete-branch: true
                  title: '[Auto] Data update'
                  body: |
                      Update report
                      - Updated with *today's* date
                      - Auto-generated by [create-pull-request][1]

                      [1]: https://github.com/peter-evans/create-pull-request
                  labels: |
                      report
                      automated pr
            - name: Check outputs
              run: |
                echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
                echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
