on:
    create 

name: create-pull-request workflow
jobs:
  changedfiles:
      runs-on: ubuntu-latest
      # Map a step output to a job output
      outputs:
        all: ${{ steps.changes.outputs.all}}
        ts: ${{ steps.changes.outputs.ts }}
      steps:
          # Make sure we have some code to diff.
        - name: Checkout repository
          uses: actions/checkout@v2
        - name: Get changed files
          id: changes
          # Set outputs using the command.
          run: |
            echo "::set-output name=all::$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} | xargs)"
            echo "::set-output name=ts::$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} | grep .ts$ | xargs)"
  createPullRequest:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/auto-updates'
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
            node-version: '14.x'
      - name: Install dependencies
        run: npm install
      - name: Update entries
        id: updateData
        run: node update.js
      - name: Verify update
        run: npm test
      - needs: changedfiles
        # only run there are changed files
        if: ${{needs.changedfiles.outputs.ts}}
        run: echo ${{needs.changedfiles.outputs.ts}}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: ${{ secrets.UPDATE_BRANCH }}
          base: master
          delete-branch: true
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update data file
          title: 'Auto-update'
          body: |
              Update report
              - Updated with *today's* date
              - Auto-generated by [create-pull-request][1]

              [1]: https://github.com/peter-evans/create-pull-request
          labels: ${{ secrets.UPDATE_BRANCH }}