on:
    push
    # create 

name: create-pull-request workflow
jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/auto-updates'
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
            node-version: '14.x'
      - name: Install dependencies
        run: npm install
      - name: Update entries
        id: updateData
        run: node update.js
      - name: Test
        run: npm test
      - name: Get changed files
        id: changes
        run: |
            export CHANGES="$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} | xargs)"
            echo "::set-output name=all::$CHANGES"
            echo "::set-output name=len::${#CHANGES}"
      - name: Test output
        run: |
            export TEST_VAR="${{ steps.changes.outputs.all }}"
            export TEST_VARB="${{ steps.changes.outputs.len }}"
            echo $TEST_VAR
            echo $TEST_VARB
      - name: Create Pull Request
        if: ${{ steps.changes.outputs.len }} > 0
        uses: peter-evans/create-pull-request@v3
        with:
          branch: ${{ secrets.UPDATE_BRANCH }}
          base: master
          delete-branch: true
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update data file
          title: 'Auto-update'
          body: |
              Changed files:
              ```
              ${{ steps.changes.outputs.all }}
              ```

          labels: ${{ secrets.UPDATE_BRANCH }}