---
name: Automatic updates
on:
    # schedule:
    #   - cron: "*/15 * * * *"
    push:
        branches:
            - branch

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '14.x'
            - name: Install dependencies
              run: npm install
            - name: View entries
              run: cat test.yaml
            - name: Update entries
              id: updateData
              run: node test.js
            - name: Verify update
              run: cat test.yaml
            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: "Update commits."
                  branch: branch
                  commit_user_name: "Platform.sh template updater"
