---
name: Commit to auto-updates

on:
    create

jobs:
    update:
        runs-on: ubuntu-latest
        steps: 
          - name: Get branch
            if: github.ref == 'refs/heads/auto-updates'
            uses: actions/checkout@v2
            with:
                ref: 'auto-updates'
          - name: Setup Node.js
            uses: actions/setup-node@v2
            with:
                node-version: '14.x'
          - name: Install dependencies
            run: npm install
          - name: Update entries
            id: updateData
            run: node update.js
          - name: Verify update
            run: npm test
